{
  "text": "#{{base05-hex}}",
  "text-secondary": "#{{base03-hex}}",
  "background": "#{{base00-hex}}",
  "line-number": "#{{base03-hex}}",
  "variable": "#{{base08-hex}}",
  "alt-variable": "#{{base0D-hex}}",
  "keyword": "#{{base0E-hex}}",
  "atom": "#{{base05-hex}}",
  "string": "#{{base0B-hex}}",
  "qualifier": "#{{base0E-hex}}",
  "type": "#{{base0A-hex}}",
  "comment": "#{{base03-hex}}",
  "tag": "#{{base0F-hex}}",
  "attribute": "#{{base09-hex}}",
  "link": "{{base09-hex}}",
  "header": "#{{base0D-hex}}"
}
